RegexAlternative/RegexAlternativeTests/obj/
RegexAlternative/RegexAlternativeTests/bin/
RegexAlternative/RegexAlternative/obj/
RegexAlternative/packages/
RegexAlternative/RegexAlternative/bin/
RegexAlternative/.vs/
RegexAlternative/RegexAlternative/RegexAlternative.csproj.user
